<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quién lo creó?</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="1.html">¿Qué es?</a>
        <a href="2.html">¿Quién lo creó?</a>
        <a href="3.html">Secuela</a>
        <a href="4.html">Planes a futuro</a>
    </nav>
    <main>
        <h1>¿Quién lo creó?</h1>
        <img src="../static/imagen/image2.png" alt="Team Cherry">
        <p>Hollow Knight fue creado por la empresa desarrolladora Team Cherry, un estudio independiente con sede en Australia. El equipo de desarrollo estaba compuesto por tres personas: Ari Gibson, William Pellen y Jack Vine. El juego fue lanzado en 2017 y ha sido muy bien recibido por la crítica y los jugadores por su estilo artístico, su jugabilidad desafiante y su mundo intrigante.</p>
        <p>Team Cherry es un desarrollador de juegos independiente en Adelaida, Australia del Sur. Nuestra misión es construir mundos locos y emocionantes para que puedas explorar y conquistar.</p>
    </main>
</body>
</html>
